<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <!-- Beginning Part -->
      <ng-template matStepLabel>Beginning</ng-template>

      <div class="col-xs-12 col-12 col-md-4 form-group">
        <div class="col-xs-12 col-12 col-md-8 form-group">
          <label for="member">Date</label>
          <input id="datePicker" type="date"
                 placeholder="Datepicker"
                 class="form-control"
                 [(ngModel)]="sacramentMeeting.date"
                 [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-xs-12 col-12 col-md-10 form-group">
          <label *ngIf="sacramentMeeting.preside!=null">Preside: {{sacramentMeeting.preside.fullname}} </label>
          <button class="col-xs-12 col-12 col-md-10 form-group" style="margin-left: 10px;" (click)="addPreside()" class="btn-sm btn-primary">Preside</button>
        </div>
        <div class="col-xs-12 col-12 col-md-10 form-group">
          <label *ngIf="sacramentMeeting.lead!=null">Lead: {{sacramentMeeting.lead.fullname}} </label>
          <button (click)="addLead()" style="margin-left: 10px" class="btn-sm btn-primary">Lead</button>
        </div>
        <div class="col-xs-12 col-12 col-md-9 form-group">
          <label for="member">Member</label>
          <div *ngIf="members !=null" class="ng-input">
            <ng-select id="member" [items]="members"
                       bindLabel="fullname"
                       [(ngModel)]="member"
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div><br>
          <label>Announcements</label><br>
          <textarea [(ngModel)]="sacramentMeeting.announcements"></textarea><br>
          <label>Prayer</label><br>
          <div *ngIf="prayers !=null" class="ng-input">
            <ng-select id="prayersListBeginning" [items]="prayers"
                       bindLabel=churchMember.fullname
                       [(ngModel)]="beginningPrayer">
            </ng-select>
          </div><br>
        </div>
      </div>

      <div class="col-xs-12 col-12 col-md-4 form-group">
        <button style="text-align: left" class="btn btn-primary" mat-button matStepperNext> > </button>
      </div>
  </mat-step>
  <!-- End Beginning -->
  <mat-step [stepControl]="secondFormGroup">

      <!-- Sacrament Part -->
      <ng-template matStepLabel>Sacrament</ng-template>
      <div>

        <label for="hymnsList">Sacrament Hymn</label>
        <div *ngIf="hymns !=null" class="ng-input">
          <ng-select id="hymnsList" [items]="hymns"
                     bindLabel=title
                     [(ngModel)]="sacramentHymn">
          </ng-select>
        </div><br>
        <button class="btn-sm btn-primary" mat-button matStepperPrevious (click)="addHymn">Add Hymn</button><br><br>

        <button style="text-align: left" class="btn btn-primary" mat-button matStepperPrevious> < </button>
        <button style="text-align: left" class="btn btn-primary" mat-button matStepperNext> > </button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Discourses</ng-template>

    <div *ngIf="discourses !=null" class="opacity" style="opacity: 0.9;">
      <br>
      <table class="table table-hover">
        <thead>
        <tr class="table-primary">
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Topic</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light" *ngFor="let discourse of sacramentMeeting.discourses">
          <td><a routerLink="/discourses/{{discourse.id}}">{{discourse.date | date:'yyyy-MM-dd'}}</a></td>
          <td>{{discourse.churchMember.fullname}}</td>
          <td>{{discourse.topic.name}}</td>
          <td><button class="btn btn-danger" (click)="deleteDiscourse(discourse)"><i class="fa fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>


      <div>
        <div *ngIf="hymns !=null" class="ng-input">
          <ng-select id="discoursesList" [items]="discourses"
                     bindLabel=churchMember.fullname
                     [(ngModel)]="discourse">
          </ng-select>
        </div><br>
        <button class="col-xs-12 col-12 col-md-10 form-group" style="margin-left: 10px;" (click)="addDiscourse()" class="btn-sm btn-primary">add Discourse</button>
        <button style="text-align: left" class="btn btn-primary" mat-button matStepperPrevious> < </button>
        <button style="text-align: left" class="btn btn-primary" mat-button matStepperNext> > </button>
      </div>
  </mat-step>
  <!-- End Sacrament Part -->
  <mat-step>
    <!-- Ending Part -->
    <ng-template matStepLabel>Ending</ng-template>
    <div *ngIf="prayers !=null" class="ng-input">
      <ng-select id="prayersList" [items]="prayers"
                 bindLabel=churchMember.fullname
                 [(ngModel)]="endingPrayer">
      </ng-select>
    </div><br>
    <div>
      <button style="text-align: left" class="btn btn-primary" mat-button matStepperPrevious> < </button>
      <button style="text-align: left" class="btn btn-primary" mat-button (click)="save">Save</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
