<h1>Member</h1>
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="member.name" name="name" required>
    </div><br>

    <div class="form-group">
      <label for="name">Surname: </label>
      <input type="text" class="form-control" id="number" [(ngModel)]="member.surname" name="number" required>
    </div><br>

    <label for="memberCalling">Calling</label>
    <div *ngIf="callings !=null" class="ng-input">
      <ng-select id="memberCalling" [items]="callings"
                 bindLabel="name"
                 [(ngModel)]="member.calling">
      </ng-select>
    </div><br>

    <label for="memberOrganization">Organization</label>
    <div *ngIf="organizations !=null" class="ng-input">
      <ng-select id="memberOrganization" [items]="organizations"
                 bindLabel="name"
                 [(ngModel)]="member.organization">
      </ng-select>
    </div><br>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Member</button>
<!--<br><input type="text" #myInput [(ngModel)]="filterText" (input)="Search()"/>-->
 <div *ngIf="members !=null" class="opacity" style="opacity: 0.9;">
    <br>
   <table class="table table-hover">
     <thead>
     <tr class="table-primary">
       <th scope="col">Surname</th>
       <th scope="col">Name</th>
       <th scope="col">Calling</th>
       <th scope="col">Organization</th>
       <th scope="col">Edit</th>
       <th scope="col">Delete</th>
     </tr>
     </thead>
     <tbody>
     <tr class="table-light" *ngFor="let member of members | paginate: {itemsPerPage: 10, currentPage: currentPage}">
       <td>{{member.surname}}</td>
       <td><a routerLink="/members/{{member.id}}">{{member.name}}</a></td>
         <td *ngIf="member.calling === null">No Calling</td>
         <td *ngIf="member.calling != null">{{member.calling.name}}</td>
         <td *ngIf="member.organization === null"></td>
         <td *ngIf="member.organization != null">{{member.organization.name}}</td>
       <td><button class="btn btn-primary"(click)="edit(member)"><i class="fa fa-pencil"></i></button></td>
       <td><button class="btn btn-danger" (click)="deleteDialog(member)"><i class="fa fa-trash"></i></button></td>
     </tr>
     </tbody>
   </table>
   <pagination-controls class="paginator" (pageChange)="currentPage = $event"></pagination-controls>
 </div>
 <div *ngIf="members == null">
   <br><br>
  <h3>No members to display</h3>
</div>
