<h1>Member</h1>
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="member.name" name="name" required>
    </div><br>

    <div class="form-group">
      <label for="name">Surname: </label>
      <input type="text" class="form-control" id="number" [(ngModel)]="member.surname" name="number" required>
    </div><br>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Member</button>

 <div *ngIf="members !=null" class="opacity" style="opacity: 0.9;">
    <br>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let member of members">
          <a routerLink="/member/{{member.id}}">{{member.surname}}, {{member.name}}</a>
      </li>
    </ul>
 </div>
 <div *ngIf="members == null">
   <br><br>
  <h3>No members to display</h3>
</div>
