<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated] = "currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="hymns" [class.activated] = "currentUrl == '/hymns'">
        <i class="material-icons">library_books</i>
      </a>
    </li>
    <li>
      <a routerLink="members" [class.activated] = "currentUrl == '/members'">
        <i class="material-icons">face</i>
      </a>
    </li>
    <li>
      <a routerLink="callings" [class.activated] = "currentUrl == '/callings'">
        <i class="material-icons">account_balance</i>
      </a>
    </li>
    <li>
      <a routerLink="organizations" [class.activated] = "currentUrl == '/organizations'">
        <i class="material-icons">group_work</i>
      </a>
    </li>
    <li>
      <a routerLink="prayers" [class.activated] = "currentUrl == '/prayers'">
        <i class="material-icons">hearing</i>
      </a>
    </li>
    <li>
      <a routerLink="discourses" [class.activated] = "currentUrl == '/discourses'">
        <i class="material-icons">record_voice_over</i>
      </a>
    </li>
    <li>
      <a routerLink="topics" [class.activated] = "currentUrl == '/topics'">
        <i class="material-icons">art_track</i>
      </a>
    </li>
    <li>
      <a routerLink="sacrament-meetings" [class.activated] = "currentUrl == '/sacrament-meetings'">
        <i class="material-icons">house</i>
      </a>
    </li>
    <li>
      <a routerLink="attendances" [class.activated] = "currentUrl == '/attendances'">
        <i class="material-icons">done_outline</i>
      </a>
    </li>
    <li>
  </ul>
</nav>
