
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Attendance</h1><br>
    </div>
    <div class="col"></div>
  </div>
    <div *ngIf="!(isLoading)">
    <div class="row">
      <div class="col">
        <br>
        <div>
          <table class="table table-hover">
            <thead>
            <tr class="table-primary">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">date</th>
              <th scope="col">Attendance</th>
            </tr>
            </thead>
            <tbody>
              <tr class="table-light" *ngFor="let attendance of attendances | paginate: {itemsPerPage: 10, currentPage: currentPage}">
                <td>{{attendance.id}}</td>
                <td>{{attendance.churchMember.name}}</td>
                  <td>{{attendance.churchMember.surname}}</td>
                <td>{{attendance.date | date :  "dd-MM-yyyy"}}</td>
                  <td>
                    <div class="">
                      <input type="checkbox" [(ngModel)]="attendance.attended"  data-md-icheck (change)="toggleAttendance(attendance, $event)" class="big-checkbox btn btn-primary"/>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-primary btn-lg" (click)="SendAttendance()">Send</button>
      </div>
    </div>
    </div>
        <div *ngIf="isLoading" >
          <ngx-spinner
            bdColor="rgba(51,51,51,0.7)"
            size="large"
            color="#5ebef5"
            type="ball-atom">
            <p style="font-size: 20px; color: white"><br>We are evaluating attendances and sending emails, Please wait while the process is over</p>
          </ngx-spinner>
        </div>
    </div>
