<h1>Hymns</h1>
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="hymn.title" name="name" required>
    </div><br>

    <div class="form-group">
      <label for="name">Number: </label>
      <input type="text" class="form-control" id="number" [(ngModel)]="hymn.number" name="number" required>
    </div><br>

    <div class="form-group">
      <label for="name">Piano Number: </label>
      <input type="text" class="form-control" id="pianoNumber" [(ngModel)]="hymn.pianoNumber" name="pianoNumber" required>
    </div><br>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Hymn</button>

 <div *ngIf="hymns !=null" class="opacity" style="opacity: 0.9;">
    <br>
     <table class="table table-hover">
       <thead>
       <tr class="table-primary">
         <th scope="col">#</th>
         <th scope="col">Title</th>
         <th scope="col">Piano #</th>
<!--         <th scope="col">Edit</th>-->
         <th scope="col">Delete</th>
       </tr>
       </thead>
       <tbody>
       <tr class="table-light" *ngFor="let hymn of hymns| paginate: {itemsPerPage: 10, currentPage: currentPage}">
         <td><a routerLink="/hymns/{{hymn.id}}">{{hymn.number}}</a></td>
         <td>{{hymn.title}}</td>
         <td>{{hymn.pianoNumber}}</td>
<!--         <td><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></td>-->
         <td><button class="btn btn-danger" (click)="deleteDialog(hymn)"><i class="fa fa-trash"></i></button></td>
       </tr>
       </tbody>
     </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
 </div>
 <div *ngIf="hymns == null">
   <br><br>
  <h3>No hymns to display</h3>
</div>
