<h1>Discourse</h1>
  <div class="form-group">
    <label for="member">Member</label>
    <div *ngIf="members !=null" class="ng-input">
        <ng-select id="member" [items]="members"
                   bindLabel="fullname"
                   [(ngModel)]="discourse.churchMember">
        </ng-select>
    </div><br>
    <label for="datePicker">Date</label>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input id="datePicker" type="date"
               placeholder="Datepicker"
               class="form-control"
               [(ngModel)]="discourse.date">
      </div>
    </div>
    <label for="topic">Topic</label>
    <div *ngIf="members !=null" class="ng-input">
      <ng-select id="topic" [items]="topics"
                 bindLabel="name"
                 [(ngModel)]="discourse.topic">
      </ng-select>
    </div><br>

    <label for="memberAssigned">Assigned by</label>
    <div *ngIf="members !=null" class="ng-input">
        <ng-select id="memberAssigned" [items]="assignedByList"
                   bindLabel="fullname"
                   [(ngModel)]="discourse.assignedBy">
        </ng-select>
    </div><br>
  </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Discourse</button>

 <div *ngIf="discourses !=null" class="opacity" style="opacity: 0.9;">
   <br>
   <table class="table table-hover">
     <thead>
       <tr class="table-primary">
         <th scope="col">Date</th>
         <th scope="col">Name</th>
         <th scope="col">Topic</th>
<!--         <th scope="col">Edit</th>-->
         <th scope="col">Delete</th>
       </tr>
     </thead>
     <tbody>
       <tr class="table-light" *ngFor="let discourse of discourses | paginate: {itemsPerPage: 10, currentPage: currentPage}">
         <td><a routerLink="/discourses/{{discourse.id}}">{{discourse.date | date:'yyyy-MM-dd'}}</a></td>
         <td>{{discourse.churchMember.fullname}}</td>
         <td>{{discourse.topic.name}}</td>
<!--         <td><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></td>-->
         <td><button class="btn btn-danger" (click)="deleteDialog(discourse)"><i class="fa fa-trash"></i></button></td>
       </tr>
     </tbody>
   </table>
   <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
 </div>
 <div *ngIf="discourses == null">
   <br><br>
  <h3>No discourses to display</h3>
</div>
